In [1]:
import requests
import pandas as pd
import json
import time

In [2]:
# get data from URL
url = "http://localhost:8080/medish_centrum_randstad/api/netlify?page=1"

data = []

while True:
    r = requests.get(url)
    if r.status_code != 200:
        continue

    if r.headers["Content-Type"] == 'application/json':
        data_json = json.loads(r.text)
        print(len(data_json))
        data.extend(data_json['data'])
    if 'next' in data_json:
        url = data_json['next']
        time.sleep(0.3)
    else:
        break

6
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
7
6

In [6]:
# Convert json data to pandas
df = pd.DataFrame(data)
display(df)

      genetic  length  mass  exercise  smoking  alcohol  sugar  lifespan
0        84.0   180.0  90.0       2.0      9.0      1.0      2        86
1        84.0   204.0  79.0       3.0      2.0      7.0      3       100
2        84.0   174.0  74.0       3.0     20.0      3.0      2        87
3        84.0   187.0  78.0       2.0      6.0      5.0      3        91
4        84.0   187.0  89.0       2.0     12.0      0.0      2        83
...       ...     ...   ...       ...      ...      ...    ...       ...
8187     82.0   185.0  67.0       3.0     11.0      8.0      2        90
8188     82.0   183.0  72.0       2.0      1.0      5.0      4        88
8189     83.0   192.0  92.0       1.0     22.0      2.0      4        62
8190     81.0   175.0  60.0       3.0     13.0      7.0      2        93
8191     83.0   204.0  76.0       3.0      8.0      8.0      1        96

[8192 rows x 8 columns]

In [11]:
# Save dataframe as csv.

df.to_csv('C:/Users/nilsm/MakeAIWork/projects/project1/csv_files\data_frame.csv')

In [13]:
# Now that i have saved the data locally i can read the data without having to request the data from the URl.

df = pd.read_csv('C:/Users/nilsm/MakeAIWork/projects/project1/csv_files\data_frame.csv')

display(df)

,Unnamed: 0,genetic,length,mass,exercise,smoking,alcohol,sugar,lifespan
0,0,84.0,180.0,90.0,2.0,9.0,1.0,2,86
1,1,84.0,204.0,79.0,3.0,2.0,7.0,3,100
2,2,84.0,174.0,74.0,3.0,20.0,3.0,2,87
3,3,84.0,187.0,78.0,2.0,6.0,5.0,3,91
4,4,84.0,187.0,89.0,2.0,12.0,0.0,2,83
...,...,...,...,...,...,...,...,...,...
8187,8187,82.0,185.0,67.0,3.0,11.0,8.0,2,90
8188,8188,82.0,183.0,72.0,2.0,1.0,5.0,4,88
8189,8189,83.0,192.0,92.0,1.0,22.0,2.0,4,62
8190,8190,81.0,175.0,60.0,3.0,13.0,7.0,2,93
8191,8191,83.0,204.0,76.0,3.0,8.0,8.0,1,96